

# Practical_1: Variables and Assignments

----

### Exercise 1:
Declare a variable `x` and assign it the value `10`.

```python
# Exercise 1
```

---

### Exercise 2:
Assign the value `True` to a variable called `is_valid`.

```python
# Exercise 2
```

---

### Exercise 3:
Create a string variable `name` with the value "Python Programming".

```python
# Exercise 3
```

---

### Exercise 4:
Assign the result of `5 + 3` to a variable `sum_result`.

```python
# Exercise 4
```

---

### Exercise 5:
Assign multiple variables in one line: `a = 5`, `b = 10`, `c = 15`.

```python
# Exercise 5
```

---

### Exercise 6:
Assign the value of one variable `x` to another variable `y`.

```python
# Exercise 6
```

---

### Exercise 7:
Assign a floating-point number `9.8` to a variable `gravity`.

```python
# Exercise 7
```

---

### Exercise 8:
Create a variable `country` and assign it the string value of your favorite country.

```python
# Exercise 8
```

---

### Exercise 9:
Change the value of variable `age` from `25` to `26` in two separate steps.

```python
# Exercise 9
```

---

### Exercise 10:
Use one variable to store the result of subtracting two numbers `20 - 7`.

```python
# Exercise 10
```

---

### Exercise 11:
Assign an integer value and a floating-point value to two different variables.

```python
# Exercise 11
```

---

### Exercise 12:
Assign a boolean value `False` to a variable `is_completed`.

```python
# Exercise 12
```

---

### Exercise 13:
Swap the values of two variables `x` and `y`.

```python
# Exercise 13
```

---

### Exercise 14:
Assign a complex number `3 + 4j` to a variable `complex_num`.

```python
# Exercise 14
```

---

### Exercise 15:
Reassign a variable from an integer to a string.

```python
# Exercise 15
```

---

### Exercise 16:
Create two variables `first_name` and `last_name`, and assign them your first and last names.

```python
# Exercise 16
```

---

### Exercise 17:
Create a variable `temperature` and assign it the value of `35.5`.

```python
# Exercise 17
```

---

### Exercise 18:
Assign the result of the multiplication of two numbers `8 * 6` to a variable `product`.

```python
# Exercise 18
```

---

### Exercise 19:
Assign a sentence of your choice to a variable `sentence`.

```python
# Exercise 19
```

---

### Exercise 20:
Use an assignment to convert a string `'50'` into an integer variable `int_value`.

```python
# Exercise 20
```

---

### Exercise 21:
Assign the result of dividing `144` by `12` to a variable `quotient`.

```python
# Exercise 21
```

---

### Exercise 22:
Assign the remainder of `47 divided by 5` to a variable `remainder`.

```python
# Exercise 22
```

---

### Exercise 23:
Create a variable `is_student` and assign it the value `True`.

```python
# Exercise 23
```

---

### Exercise 24:
Use a variable to store the result of a modulo operation: `45 % 4`.

```python
# Exercise 24
```

---

### Exercise 25:
Create a variable `pi` and assign it the value `3.14159`.

```python
# Exercise 25
```

---

### Exercise 26:
Create two variables `length` and `width`, assign them values, and calculate the area of a rectangle.

```python
# Exercise 26
```

---

### Exercise 27:
Assign a negative number to a variable `negative_value`.

```python
# Exercise 27
```

---

### Exercise 28:
Assign a string containing a special character (e.g., "Hello, World!") to a variable `greeting`.

```python
# Exercise 28
```

---

### Exercise 29:
Create a variable `population` and assign it a large integer value (in billions).

```python
# Exercise 29
```

---

### Exercise 30:
Use a variable to store the result of raising `2` to the power of `8`.

```python
# Exercise 30
```

---

### Exercise 31:
Assign a list of your favorite fruits to a variable `fruits`.

```python
# Exercise 31
```

---

### Exercise 32:
Assign a tuple of three numbers to a variable `coordinates`.

```python
# Exercise 32
```

---

### Exercise 33:
Assign a dictionary with keys `name` and `age` to a variable `person`.

```python
# Exercise 33
```

---

### Exercise 34:
Use variables to store the sum of two floating-point numbers.

```python
# Exercise 34
```

---

### Exercise 35:
Create a variable `is_sunny` and assign it the result of a comparison `10 > 5`.

```python
# Exercise 35
```

---

### Exercise 36:
Assign a string and an integer to two different variables, then print both on one line.

```python
# Exercise 36
```

---

### Exercise 37:
Reassign a variable that originally held a number to a boolean value.

```python
# Exercise 37
```

---

### Exercise 38:
Create a variable `is_weekend` and assign it the result of `False`.

```python
# Exercise 38
```

---

### Exercise 39:
Assign a multi-line string to a variable `description`.

```python
# Exercise 39
```

---

### Exercise 40:
Use variables to store the result of the absolute value of `-25`.

```python
# Exercise 40
```

---

### Exercise 41:
Assign the result of a floor division `100 // 6` to a variable `floor_div_result`.

```python
# Exercise 41
```

---

### Exercise 42:
Assign the result of adding a floating-point number to an integer to a variable `mixed_sum`.

```python
# Exercise 42
```

---


### Exercise 43:
Assign a boolean value based on the comparison of two variables `a = 10` and `b = 15`.

```python
# Exercise 43
```

---

### Exercise 44:
Assign a long sentence to a variable and count its characters using `len()`.

```python
# Exercise 44
```

---

### Exercise 45:
Assign a fractional result `7 / 3` to a variable `division_result`.

```python
# Exercise 45
```

---

### Exercise 46:
Create a variable `speed` and assign it the value of 100 kilometers per hour.

```python
# Exercise 46
```

---

### Exercise 47:
Assign a multi-variable equation like `y = 3x + 5` where `x = 4` to a variable `y`.

```python
# Exercise 47
```

---

### Exercise 48:
Use variables to calculate and store the average of three numbers.

```python
# Exercise 48
``
****

In [20]:
#Exercise 1:
x = 10

In [21]:
#Exercise 2:
is_valid = True

In [22]:
#Exercise 3:
Name = "Python programming"

In [24]:
#Exercise 4:
a = 5
b = 3
sum_result = a + b
sum_result

8

In [25]:
#Exercise 5:
a,b,c = 5,10,15

In [26]:
#Exercise 6:
x = 67
y = x

In [27]:
#Exercise 7:
gravity = 9.8

In [28]:
#Exercise 8:
country = "Australia"

In [29]:
#Exercise 9:
x = 25
x = 26

In [30]:
#Exercise 10:
a = 20
b = 7
d = a - b
d

13

In [31]:
#Exercise 11:
a = 5
b = 6.9

In [32]:
#Exercise 12:
is_completed = False

In [33]:
#Exercise 13:
x = 5
y = 7
x = 7
y = 5

In [35]:
#Exercise 14:
complex_num = 3 + 4j

In [36]:
#Exercise 15:
x = int(5)
y = str(x)

In [37]:
#Exercise 16:
first_name = "Daniel"
last_name = "Adashu"

In [38]:
#Exercise 17:
temperature = 35.5

In [40]:
#Exercise 18:
a = 6 
b = 8
product = b * a
product

48

In [41]:
#Exercise 19:
Vision = "The ability to see life beyond the present"

In [42]:
#Exercise 20:
x = str(50)
int_value = int(x)

In [44]:
#Exercise 21:
a = 144
b = 12 
qoutient = a / b
qoutient

12.0

In [45]:
#Exercise 22:
x = 5
y = 47
qoutient  = y / x
remainder = float(qoutient)
remainder

9.4

In [47]:
#Exercise 23:
is_student = True

In [48]:
#Exercise 24:
x = 45
y = 4 
modulo = x % y

In [49]:
#Exercise 25:
pi = 3.14159

In [50]:
#Exercise 26:
length = int(input("Enter length: "))
width = int(input("Enter width: "))
area_of_rectangle = length * width
area_of_rectangle

Enter length: 56
Enter width: 67

3752

In [51]:
#Exercise 27:
negative_value = -89

In [52]:
#Exercise 28:
greeting = "Hello, World!"

In [53]:
#Exercise 29:
population = 8 * (10**9)

In [58]:
#Exercise 30:
k = 2**8
k

256

In [61]:
#Exercise 31:
fruits = ["Apple", "Orangle", "Mangoe", "Cashew"]
fruits

['Apple', 'Orangle', 'Mangoe', 'Cashew']

In [62]:
#Exercise 32:
coordinates = ("4", "5", "7")

In [63]:
#Exercise 33:
person = {"Name":"Daniel", "Age":"27"}
person

{'Name': 'Daniel', 'Age': '27'}

In [64]:
#Exercise 34:
a = 4.5
b = 6.8
x = a + b
x

11.3

In [65]:
#Exercise 35:
is_sunny = 10 > 5

In [66]:
#Exercise 36:
x = "Name" 
y = int(7)
print(x,y)

Name 7

In [67]:
#Exercise 37:
z = 11 
z = 10 < 4

In [68]:
#Exercise 38:
is_weekend = False

In [69]:
#Exercise 39:
Description = """He is tall
                she is short
                he is African"""

In [70]:
#Exercise 40:
x = abs(-25)

In [71]:
#Exercise 41:
floor_div_result = 100 // 6

In [72]:
#Exercise 42:
a = 6.7
b = 5
mixed_sum = a + b

In [73]:
#Exercise 43:
a = 10
b = 15
c = 15 > 10

In [74]:
#Exercise 44:
axiom = "is a valid argument that is always accepted to be truth"
len(axiom)

55

In [75]:
#Exercise 45:
divion_result = 7 / 3

In [77]:
#Exercise 46:
km = 1000
hr = 3600
speed = (100*km)/hr
speed

27.77777777777778

In [78]:
#Exercise 47:
x = 4
y = 3*x + 5
y

17

In [18]:
#Exercise 48:
a = 5 
b = 6
c = 9
average = (a + b +c)/3